@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* Primary */
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  /* Neutral */
  --dark-gray: hsl(0, 0%, 59%);
  /* Typography */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
/*    background: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw, bottom 50vh;*/
}

.container {
    margin: 0 auto;
    text-align: center;
}

.wrapper {
    max-width: 26.25rem;
    background-color: #fff;
    border-radius: 0.9375rem;
    overflow: hidden;
    margin: 1rem;
}

.content img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    border: 0.25rem solid #fff;
    margin-top: -3.25rem;
    margin-bottom: 1.25rem;
}

.content h2 {
    color: var(--very-dark-desaturated-blue);
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
}

.content span {
    color: var(--dark-grayish-blue);
    font-weight: 400;
}

.content p {
    color: var(--dark-grayish-blue);
    font-size: .8125rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 0.0625rem solid var(--dark-grayish-blue);
    padding: 1.875rem 3.125rem;
}

.footer p.num {
    font-size: 1.125rem;
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
    margin-bottom: .3125rem;
    margin-top: 1.875rem;
}